.newItemModal.hide {
  display: none;
}

.newItemModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.842);
}

.newItemContainer {
  position: relative;
  left: 50%;
  top: 50%;
  width: fit-content;
  background-color: white;
  padding: 25px;
  transform: translateX(-50%) translateY(-50%);
}

.newItemInputContainer {
  display: flex;
}

.inputErrorNewItem.hide {
  display: none;
}

.inputErrorNewItem.show {
  width: 105px;
}

.inputErrorNewItem,
.duplicateError {
  border: 2px solid red;
  color: red;
}

.newAddItem {
  display: flex;
}

.headingDivs {
  display: flex;
}

.itemProperty,
.headingDivItem {
  width: 108px;
  overflow: hidden;
}

.newItemInput {
  width: 100px;
}

.duplicateError.hide {
  display: none;
}
