.eodModal.hide {
  display: none;
}

.eodModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.842);
  backdrop-filter: blur(5px);
  z-index: 10;
}

.eodMainContainer {
  position: relative;
  left: 50%;
  top: 50%;
  width: fit-content;
  background-color: white;
  padding: 25px;
  transform: translateX(-50%) translateY(-50%);
  overflow-y: scroll;
  max-height: 80vh;
  border-radius: 5px;
  box-shadow: 2px 2px 4px black;
}

.itemSearchContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 10px;
}

.labelForSkuInput {
  margin-top: 10px;
}

.itemSearchInput {
  margin-top: 5px;
}

.reportHeading {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.searchItemContainer,
.individualSoldItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.individualSoldItem {
  gap: 1rem;
}

.searchItemBox {
  width: 108px;
}

.soldItemInput {
  width: 30px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.saleReportButtonContainer {
  width: fit-content;
  display: flex;
  gap: 1rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 25px;
}

.individualSoldBtn,
.btnQuan {
  height: 35px;
}

.eodModalBtn,
.searchItemBtn,
.individualSoldBtn,
.btnQuan,
.revertReport {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  justify-content: center;
  border: 3px solid rgb(78, 3, 216);
  color: rgb(78, 3, 216);
  border-radius: 5px;
  background: none;
  font-weight: 600;
  font-size: 1rem;
  transition-duration: 0.4s;
  padding: 10px;
}
.eodModalBtn:hover,
.searchItemBtn:hover,
.individualSoldBtn:hover,
.btnQuan:hover,
.revertReport:hover {
  border-color: rgb(78, 3, 216);
  background-color: rgb(78, 3, 216);
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}

.revertReport.cancel {
  border: none;
}

.soldInputBox {
  display: flex;
  align-items: center;
  gap: 2px;
}

.eodModalBtn.close {
  border: none;
}

.itemSearchInput,
.soldItemInput {
  font-size: 1.2rem;
  padding: 6px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 8px;
}

.itemSearchInput:focus,
.soldItemInput:focus {
  outline: 3px solid rgb(78, 3, 216);
  border-color: rgba(0, 0, 0, 0);
}

.soldItemBox {
  font-size: 1.2rem;
  width: 120px;
  overflow: hidden;
}

.soldItemInput {
  text-align: center;
}

.warning {
  width: 65vw;
}
