.finStoreBtn {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  justify-content: center;
  border: 3px solid rgb(78, 3, 216);
  color: rgb(78, 3, 216);
  border-radius: 5px;
  background: none;
  font-weight: 600;
  font-size: 1rem;
  transition-duration: 0.4s;
  padding: 10px;
}
.finStoreBtn:hover {
  border-color: rgb(78, 3, 216);
  background-color: rgb(78, 3, 216);
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}

.buttonHolder {
  display: flex;
  gap: 1rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
}

.finStoreBtn.active {
  border-color: rgb(78, 3, 216);
  background-color: rgb(78, 3, 216);
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  color: white;
}

.orderItemContainer {
  display: flex;
  gap: 1rem;
}

.reportHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.orderItemsHolder {
  display: flex;
  flex-direction: column;
}

.orderItemsHolder.hide {
  opacity: 0;
  scale: 0;
  width: 0;
  height: 0;
}

.orderItemContainerOutside {
  display: flex;
  flex-direction: column;
}
