.calendarReportHolder {
  display: flex;
  flex-wrap: wrap;
  width: 175px;
  gap: 2px;
  height: auto;
}

.calendarHolder {
  width: 175px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.calendarDayBtn {
  padding: 0;
  margin: 0;
  width: 25px;
  background: none;
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
}

.calendarDayBtn:hover {
  cursor: pointer;
}

.report.hide {
  display: none;
}

.report {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.842);
}

.reportModalInner {
  position: relative;
  left: 50%;
  top: 50%;
  width: fit-content;
  background-color: white;
  padding: 25px;
  transform: translateX(-50%) translateY(-50%);
}

.modalSoldProductsContainer,
.modalSoldHeading {
  display: flex;
  gap: 1rem;
}

.soldProdItem {
  width: 95px;
}
