.storePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storeHeadings {
  display: flex;
  gap: 1rem;
  border-radius: 25px;
  justify-content: space-between;
  align-items: center;
}

.dailyReport.yPresent {
  border: 2px solid green;
}

.dailyReport.nPresent {
  border: 2px solid rgb(128, 0, 0);
}

.storeItems,
.storeReports {
  transition-duration: 0.5s;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  opacity: 1;
}

.storeItems.hide,
.storeReports.hide {
  opacity: 0.2;
  transform: scale(0);
  max-height: 0;
}

.individualProductStoreContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  max-width: 100%;
  transition-duration: 0.2s;
}

.monthContainer {
  display: flex;
  flex-direction: column;
}

.testclassxd {
  display: flex;
}
