.storeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 4px black;
  max-width: fit-content;
  border: 3px solid rgb(78, 3, 216);
  padding: 12px;
  border-radius: 10px;
  gap: 5px;
  transition-duration: 0.4s;
}

.storeContainer:hover {
  /* transform: scale(1.05); */
}

.productHolder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.storePicture {
  width: auto;
  height: 200px;
  border-radius: 5px;
}

.storeButtons {
  display: flex;
  gap: 1.1rem;
}

.storeBtn {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  justify-content: center;
  border: 3px solid rgb(78, 3, 216);
  color: rgb(78, 3, 216);
  border-radius: 5px;
  background: none;
  font-weight: 600;
  font-size: 1rem;
  transition-duration: 0.4s;
  padding: 10px;
}
.storeBtn:hover {
  border-color: rgb(78, 3, 216);
  background-color: rgb(78, 3, 216);
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}

.storeHeading {
  font-size: 1.4rem;
  font-weight: 600;
}
