.storePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storeHeadings {
  display: flex;
  gap: 1rem;
  border-radius: 25px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.dailyReport.yPresent {
  border: 2px solid green;
}

.dailyReport.nPresent {
  border: 2px solid rgb(128, 0, 0);
}

.storeItems,
.storeReports {
  transition-duration: 0.5s;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  opacity: 1;
}

.storeItems.hide,
.storeReports.hide {
  opacity: 0.2;
  transform: scale(0);
  max-height: 0;
}

.individualProductStoreContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  max-width: 100%;
  transition-duration: 0.2s;
  width: 100%;
}

.headingDivItemStore {
  width: 100px;
  font-weight: 600;
  font-size: 1.1rem;
}

.mappedMonthContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.yearCalendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testclassxd {
  display: flex;
}

.addItemsBtn {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  justify-content: center;
  border: 3px solid rgb(78, 3, 216);
  color: rgb(78, 3, 216);
  border-radius: 5px;
  background: none;
  font-weight: 600;
  font-size: 1rem;
  transition-duration: 0.4s;
  padding: 10px;
}
.addItemsBtn:hover {
  border-color: rgb(78, 3, 216);
  background-color: rgb(78, 3, 216);
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}

.buttonContainerStore {
  display: flex;
  gap: 1rem;
  margin-top: 15px;
  margin-bottom: 15px;
}
